[*.cs]

# Default severity for analyzer diagnostics with category 'Major Code Smell'
dotnet_analyzer_diagnostic.category-Major Code Smell.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# S2696: Instance members should not write to "static" fields
dotnet_diagnostic.S2696.severity = suggestion

# S3246: Generic type parameters should be co/contravariant when possible
dotnet_diagnostic.S3246.severity = silent
